<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>

    </div>
    <label>WRITTER</label>


    </div>
    <div>
        <label>CONTENT</label>
        <textarea name = "content" id = " content">
            {{board.content}}
        </textarea>



    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
</script>
    $(document).ready(function(){
        $('#lisBtn').click(function(){
            alert('listbtn click')
            location.href = '../href';
        });
    });
</script>


</body>
</html>